/condicionales/problema1/problema1/nbproject/private/
/condicionales/problema2/problema2/nbproject/private/
/condicionales/problema3/problema3/nbproject/private/
/condicionales/problema4/problema4/nbproject/private/
/manejo-entrada-salida/problema01/problema1/nbproject/private/
/manejo-entrada-salida/problema02/problema2/nbproject/private/
/manejo-entrada-salida/problema03/problema3/nbproject/private/
/manejo-entrada-salida/problema04/problema4/nbproject/private/
/manejo-entrada-salida/problema05/problema5/nbproject/private/
